exportClasses(psi_func_cached)
exportClasses(rlmerMod)
export(compare)
export(cPsi)
export(fixef)
export(getInfo)
export(getME)
export(lmerNoFit)
exportMethods(psi2propII)
exportMethods(show)
export(psiFuncCached)
export(rlmer)
export(sigma)
export(smoothPsi)
export(theta)
export(VarCorr)
importFrom(lme4,isREML)
importFrom(lme4,sigma)
importFrom(MatrixModels,resid)
importFrom(MatrixModels,residuals)
importFrom(nlme,fixef)
importFrom(nlme,ranef)
importFrom(nlme,VarCorr)
importFrom(stats,coef)
importFrom(stats,fitted)
importFrom(stats,formula)
importFrom(stats,model.frame)
importFrom(stats,model.matrix)
importFrom(stats,nobs)
importFrom(stats,terms)
importFrom(stats,vcov)
importFrom(stats,weights)
importFrom(xtable,print.xtable)
importFrom(xtable,xtable)
importMethodsFrom(Matrix,as.vector)
importMethodsFrom(Matrix,chol)
importMethodsFrom(Matrix,colMeans)
importMethodsFrom(Matrix,colSums)
importMethodsFrom(Matrix,crossprod)
importMethodsFrom(Matrix,determinant)
importMethodsFrom(Matrix,diag)
importMethodsFrom(Matrix,drop)
importMethodsFrom(Matrix,rowMeans)
importMethodsFrom(Matrix,rowSums)
importMethodsFrom(Matrix,solve)
importMethodsFrom(Matrix,t)
importMethodsFrom(Matrix,tcrossprod)
importMethodsFrom(Matrix,which)
S3method(coef,rlmerMod)
S3method(deviance,rlmerMod)
S3method(fitted,rlmerMod)
S3method(fixef,mer)
S3method(fixef,rlmerMod)
S3method(formula,rlmerMod)
S3method(getInfo,lmerMod)
S3method(getInfo,mer)
S3method(getInfo,rlmerMod)
S3method(model.frame,rlmerMod)
S3method(model.matrix,rlmerMod)
S3method(nobs,rlmerMod)
S3method(print,comparison.table)
S3method(print,psi_func_cached)
S3method(print,rlmerMod)
S3method(print,summary.rlmer)
S3method(print,VarCorr.rlmerMod)
S3method(print,xtable.comparison.table)
S3method(ranef,rlmerMod)
S3method(residuals,rlmerMod)
S3method(sigma,mer)
S3method(sigma,merMod)
S3method(sigma,rlmerMod)
S3method(summary,rlmerMod)
S3method(terms,rlmerMod)
S3method(update,rlmerMod)
S3method(VarCorr,mer)
S3method(VarCorr,rlmerMod)
S3method(VarCorr,summary.rlmer)
S3method(vcov,rlmerMod)
S3method(vcov,summary.rlmer)
S3method(weights,rlmerMod)
S3method(xtable,comparison.table)
