exportClasses(psi_func2)
exportClasses(psi_func2_cached)
export(compare)
export(cPsi)
export(getInfo)
export(huberPsi)
export(lmerNoFit)
exportMethods(chgDefaults)
exportMethods(show)
export(psiFunc2)
export(psiFunc2Cached)
export(rho.b)
export(rho.e)
export(rlmer)
export(smoothPsi)
export(wExp.b)
export(wExp.e)
export(wgt.b)
export(wgt.e)
export(theta)
exportMethods(nobs)
importClassesFrom(lme4,lmerMod)
importClassesFrom(lme4,lmList)
importFrom(lme4,isREML)
importFrom(lme4,ranef)
importFrom(lme4,sigma)
importFrom(MatrixModels,resid)
importFrom(MatrixModels,residuals)
importMethodsFrom(Matrix,as.vector)
importMethodsFrom(Matrix,chol)
importMethodsFrom(Matrix,colMeans)
importMethodsFrom(Matrix,colSums)
importMethodsFrom(Matrix,crossprod)
importMethodsFrom(Matrix,determinant)
importMethodsFrom(Matrix,diag)
importMethodsFrom(Matrix,drop)
importMethodsFrom(Matrix,rowMeans)
importMethodsFrom(Matrix,rowSums)
importMethodsFrom(Matrix,solve)
importMethodsFrom(Matrix,t)
importMethodsFrom(Matrix,tcrossprod)
importMethodsFrom(Matrix,which)
importMethodsFrom(stats4,nobs)
S3method(deviance,rlmerMod)
S3method(getInfo,lmerMod)
S3method(getInfo,rlmerMod)
S3method(print,psi_func2)
S3method(print,psi_func2_cached)
S3method(print,rlmerMod)
S3method(ranef,rlmerMod)
S3method(residuals,rlmerMod)
S3method(robll,rlmerMod)
S3method(sigma,rlmerMod)
S3method(update,rlmerMod)
